## Question 1: Use yfinance to Extract Stock Data

### Reset the index, save, and display the first five rows of the tesla_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [3]:
import yfinance as yf
DATA = yf.Ticker("TSLA")
tesla_Stockdata = DATA.history(period="max")

In [4]:
tesla_Stockdata.reset_index(inplace=True)

In [5]:
tesla_Stockdata.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

### Display the last five rows of the tesla_revenue dataframe using the tail function. Upload a screenshot of the results.

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [7]:
weblink = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
requests.get(weblink).text
TeslaRevenueData =requests.get(weblink).text

In [8]:
soupa = BeautifulSoup(TeslaRevenueData , "html")
TESLARevenue = pd.DataFrame(columns=['Date', 'Revenue'])
TB = soupa.find("tbody")
TR = TB.find_all("tr")
for row in TR:
    col = row.find_all("td")
    date = col[0]
    Rev = col[1]
    TESLARevenue =TESLARevenue._append({'Date':date, 'Revenue':Rev}, ignore_index=True)

In [9]:
TESLARevenue.tail(5)

      Date   Revenue
8   [2013]  [$2,013]
9   [2012]    [$413]
10  [2011]    [$204]
11  [2010]    [$117]
12  [2009]    [$112]

## Question 3: Use yfinance to Extract Stock Data

### Reset the index, save, and display the first five rows of the gme_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [10]:
GMETicker = yf.Ticker("GME")

In [11]:
gme_stockdata = GMETicker.history(period ='max')

In [12]:
gme_stockdata.reset_index(inplace=True)

In [13]:
gme_stockdata.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693349,1.603295,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662209,1.603296,1.662209,6892800,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

### Display the last five rows of the gme_revenue dataframe using the tail function. Upload a screenshot of the results.

In [14]:
web = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
requests.get(web).text
gme_data =requests.get(web).text

In [15]:
soupobject = BeautifulSoup(gme_data , "html")

In [16]:
GMERevenue = pd.DataFrame(columns=['Date', 'Revenue'])
TB = soupobject.find("tbody")
TR = TB.find_all("tr")
for row in TR:
    col = row.find_all("td")
    date = col[0]
    Rev = col[1]
    GMERevenue = GMERevenue._append({'Date':date, 'Revenue':Rev}, ignore_index=True)

In [17]:
GMERevenue.tail(5)

      Date   Revenue
8   [2013]  [$2,013]
9   [2012]    [$413]
10  [2011]    [$204]
11  [2010]    [$117]
12  [2009]    [$112]

## Question 5: Plot Tesla Stock Graph

### Use the make_graph function to graph the Tesla Stock Data, also provide a title for the graph.
### Upload a screenshot of your results.

In [18]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [36]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [37]:
make_graph(tesla_Stockdata,TESLARevenue,'Tesla')

TypeError: '<=' not supported between instances of 'Tag' and 'str'

In [22]:
# make_graph(tesla_Stockdata,TESLARevenue,"Tesla")

## Question 6: Plot GameStop Stock Graph

### Use the make_graph function to graph the GameStop Stock Data, also provide a title for the graph.
### Upload a screenshot of your results.

In [38]:
make_graph(gme_stockdata,GMERevenue,'GME')

TypeError: '<=' not supported between instances of 'Tag' and 'str'